@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lexend+Giga&family=Nunito+Sans&display=swap');



<<<<<<< HEAD
.blurback {
    /* filter: blur(20px); */
    /* pointer-events: none; */
    /* user-select: none; */
}

#booking-planet {
    display: none;
}

#booking {
    position: relative;
    top: 200px;
}

.booking-heading {
    font-family: 'Lexend Giga';
    font-style: normal;
}

.booking-heading h1 {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 132.9%;
    text-align: center;
    letter-spacing: 0.105em;
    color: #2CF80B;
}

.booking-heading h2 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 129.4%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-shadow: 0px 19.8584px 23.358px rgba(255, 255, 255, 0.29);
    text-align: center;
}

.booking-bg {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
}

.booking-bg img {
    height: 100%;
    width: 100%;
}

.booking-bgM {
    display: none;
}

.wholebookingsection {
    position: relative;
    /* top: 80px; */
}

.bookingsection {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 9.5%;
    /* height: 100%; */
    width: 100%;
    z-index: 100;
}

.mainsection {
=======
.blurback{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}


.bookingsection{
    display: flex;
    

    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* width: 100vw; */
    background-color: rgb(35, 209, 215);
}
.mainsection{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    width: 80%;
    /* height: 527px; */
    /* background-color:aquamarine ;
    border: 3px solid blue; */
    background: linear-gradient(136.67deg, rgba(44, 247, 11, 0.07) 4.87%, rgba(11, 162, 247, 0.07) 99.53%);
<<<<<<< HEAD
    box-shadow: 0px 3.5707px 3.5707px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5.80239px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 8.03407px;

}


.submainsection {
    padding: 47px 52px;
}

.numbersection {}

.textsection {
    font-family: 'IBM Plex Sans';
    color: white;
}

.adder {
=======
box-shadow: 0px 3.5707px 3.5707px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(5.80239px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 8.03407px;

}
.submainsection{
    padding: 47px 52px;
}
.numbersection{

}
.textsection{
    font-family: 'IBM Plex Sans';
    color: white;
    
}
.adder{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    display: flex;
    margin-top: 20px;
    gap: 15px;
}
<<<<<<< HEAD

.leftadder {
=======
.leftadder{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    color: white;
    height: 25px;
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}
<<<<<<< HEAD

.rightadder {
=======
.rightadder{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    color: white;
    height: 25px;
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}
<<<<<<< HEAD

.middlesection {
=======
.middlesection{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    color: white;
    height: 25px;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid #2CF80B;
    box-shadow: 0 0 5px #2CF70B;
    border-radius: 5px;
}
<<<<<<< HEAD

.calendersection {
=======
.calendersection{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    display: flex;
    margin-top: 40px;
    gap: 50px;
}
<<<<<<< HEAD

.calendertext {
    color: white;
    margin-top: 5px;

    font-family: 'IBM Plex Sans';
}

.bottomsection {
    display: flex;
    align-items: flex-end;
}

.slotsection {
    margin-top: 5px;
    color: white;
    font-family: 'IBM Plex Sans';
}

/* .slottext{
    
    
} */
.slotlist {
=======
.calendertext{
    color: white;
    margin-top: 5px;

    font-family:'Lexend Giga';
    /* font-weight: 500; */
    font-size: 12px ;
}
.bottomsection{
    display: flex;
    align-items:flex-end;
}
.slotsection{
    margin-top: 5px;
    color:white;
    font-family: 'IBM Plex Sans';
}
.slottext{
    font-family:'Lexend Giga';
    font-size: 12px ;
    
}
.slotlist{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    width: 50vw;
}
<<<<<<< HEAD

.slots {
=======
.slots{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    /* margin-right: 5px;
    margin-left: 5px; */
    border: 1px solid white;
    width: 102px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}
<<<<<<< HEAD

.submitsection {
    color: black;
    font-family: 'Lexend Giga';
    /* position: absolute; */
    font-size: 0.6rem;
    /* margin-left: 18vw; */
=======
.submitsection{
    color:black;
    font-family: 'Lexend Giga';
    /* position: absolute; */
    font-size: 0.6rem;
    margin-left: 9vw;
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    /* top: 85.4%; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 109px;
    height: 31px;
<<<<<<< HEAD
    background-color: #2CF80B;

    cursor: pointer;
    font-weight: 500;
}

.submitsectiontext {
    font-family: 'Lexend Giga';

}

#contact-sectionB {
    background: linear-gradient(180deg, #007cb4 20.62%, rgba(67, 197, 247, 0) 100%);
    position: relative;
    top: -250px;
}
#box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    width: 90%;
    height: 500px;
    margin: auto;
}
.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 45%;
    border: 1px solid #2CF80B;
    padding: 6% 2%;
}
.contact-content img {
    height: auto;
    width: 68px;
}

.contact-content p {
    font-family: 'Lexend Giga';
    font-style: normal;
    font-weight: 600;
    font-size: .85rem;
    line-height: 129.4%;
    letter-spacing: -0.11em;
    color: #FFFFFF;
}

@media only screen and (max-width: 672px) {
    .bookingsection {
        /* height: 700px; */
        width: 100%;
    }

    .mainsection {
        /* height: 650px; */
    }

    .submainsection {
=======
   background-color:#2CF80B;
   
   cursor: pointer;
   font-weight: 500;
}
.submitsectiontext{
    font-family:'Lexend Giga';

}
@media only screen and (max-width: 672px) {
    .bookingsection{
        /* height: 700px; */
        width: 100%;
    }
    .mainsection{
        /* height: 650px; */
    }
    
    .submainsection{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 47px 20px;
    }
<<<<<<< HEAD

    .calendersection {
=======
    .calendersection{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
<<<<<<< HEAD

    .wrapper header {
        padding: 10px 30px 5px;
    }

    .slotsection {
=======
    .wrapper header{
        padding: 10px 30px 5px;
    }
    .slotsection{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
<<<<<<< HEAD

    .slotlist {
=======
    .slotlist{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
<<<<<<< HEAD

    .bottomsection {
        flex-direction: column;
        align-items: center
    }

    .submitsection {
        position: static;
        /* top: 48px;
        right: ; */

        margin-top: 40px;
    }

    header .current-date {
        color: #2CF80B;
    }
}


/*  */

@media only screen and (max-width: 723px) {
    .slotlist {
        width: 56vw
    }

    .submainsection {
        padding: 47px 39px;
    }
}


/* @media only screen and (max-width: 804px) {
=======
    .bottomsection{
        flex-direction: column;
        align-items: center
    }
    .submitsection{
        position: static;
        /* top: 48px;
        right: ; */
        
        margin-top:40px ;
    }
    header .current-date{
        color: #2CF80B;
    }
  }


/*  */
@media only screen and (max-width: 753px) {
    .slotsection{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .slotlist{
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }
    .bottomsection{
        flex-direction: column;
        align-items: center
    }
    .submitsection{
        position: static;
        /* top: 48px;
        right: ; */
        
        margin-top:40px ;
    }
  }
  




  @media only screen and (max-width: 723px) {
    .slotlist{
        width:56vw
    }
    .submainsection {
        padding: 47px 39px;
    }
  }
  

  /* @media only screen and (max-width: 804px) {
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    .submitsection{
        margin-left: 2vw;
    }
  } */

<<<<<<< HEAD
=======
 
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54








<<<<<<< HEAD

/* popup css starts here */


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lexend+Giga&family=Nunito+Sans&family=Potta+One&display=swap');


.popupsubsection {
=======
  /* popup css starts here */


  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Lexend+Giga&family=Nunito+Sans&family=Potta+One&display=swap');


.popupsubsection{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    z-index: -1;
    position: fixed;
    top: 40%;
    left: 50%;
<<<<<<< HEAD
    transform: translate(-50%, -50%);
=======
    transform: translate(-50%,-50%);
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    width: 774px;
    height: 291px;
    background-color: #263238;
<<<<<<< HEAD
    border: 3px solid #2CF80B;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}

.popupsubmitsection {
    margin-top: 23px;

}

.popupsubmitsection form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.innerpopup {
    padding: 30px 40px;
}

.popuptext {
    font-family: 'Potta One', cursive;
    color: white;
}

.popupsections {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.popupsection span {
=======
    border:3px solid #2CF80B;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.popupsubmitsection{
    margin-top: 23px;
   
}
.popupsubmitsection form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.innerpopup{
    padding:30px 40px ;
}
.popuptext{
    font-family: 'Potta One', cursive;
    color: white;
}
.popupsections{
color: white;
display: flex;
flex-direction: column;
padding: 10px 0px;
}
.popupsection span{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    font-family: 'Lexend Giga', sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
}
<<<<<<< HEAD

.popupsections input {
=======
.popupsections input{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    border: 1px solid #2CF80B;
    height: 25px;
    width: 315px;
    background-color: #263238;
    color: white;
}
<<<<<<< HEAD

.popupsections select {
=======
.popupsections select{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    border: 1px solid #2CF80B;
    height: 25px;
    width: 315px;
    background-color: #263238;
    color: white;
    font-family: 'Lexend Giga', sans-serif;

}
<<<<<<< HEAD

.popupsubmit {
    display: flex;
}

.popupsubmit input {
=======
.popupsubmit{
    display: flex;
}
.popupsubmit input{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    color: #263238;
    font-size: 12px;
    font-family: 'Lexend Giga', sans-serif;
    width: 109px;
    height: 31px;
<<<<<<< HEAD
    background-color: #2CF80B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: none;

}

#cancel {
=======
   background-color:#2CF80B;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   margin-left: 10px;
   cursor: pointer;
   border: none;

}
#cancel{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
    color: #263238;
    font-size: 12px;
    font-family: 'Lexend Giga', sans-serif;
    width: 109px;
    height: 31px;
<<<<<<< HEAD
    background-color: #2CF80B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    margin-left: 453px;

}

#footer {
    top: 0;
    margin-top: -100px !important;
}

#copyright {
    position: relative;
    top: 0;
}

@media (min-width: 1000px) and (max-width: 1300px) { 
    #contact-sectionB {
        top: -130px;
    }
}

@media only screen and (max-width: 1000px) {
    .booking-bgM {
        display: block;
        position: relative;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .booking-bgM img {
        height: 100%;
        width: 100%;
    }

    .booking-bg {
        display: none;
    }

    .booking-heading h1 {
        font-size: 1.35rem;
        text-align: left;
    }

    .booking-heading h2 {
        font-size: .8rem;
        font-weight: 400;
        text-align: left;
        margin-top: 10px;
    }

    #booking {
        top: 150px;
    }

    .booking-heading {
        padding-right: 35%;
        padding-left: 5%;
    }

    #booking-planet {
        display: block;
        height: 120px;
        width: 148px;
        top: 92px;
        position: absolute;
        right: 0;
        z-index: 1;
    }

    #booking-planet img {
        height: 100%;
        width: 100%;
    }

    .wholebookingsection {
        top: 50px;
    }

    .bookingsection {
        top: 0;
    }

    #box-container {
        height: 100%;
        flex-direction: column;
    }

    .contact-content {
        width: 75%;
        flex-direction: column;
        height: 200px;
        margin: 20px 0;
    }

    #contact-sectionB {
        top: 150px;
    }
    .contact-content p {
        font-weight: 400;
        font-size: .75rem;
        padding: 0 10px;
        margin-top: 14px;
        text-align: center
    }
    .contact-content img {
        height: auto;
        width: 50px;
    }
    #footer {
        margin-top: 275px !important;
    }
}
@media only screen and (max-width: 390px) {
    #contact-sectionB {
        top: 194px;
        z-index: -1;
    }
    #footer {
        margin-top: 300px !important;
    }
}


@media only screen and (max-width: 753px) {
    .mainsection {
        width: 88%;
    }

    .popupsubsection {

        width: 340px;
        height: 550px;

    }

    .submainsection {
        padding: 47px 39px;
    }

    .innerpopup {
=======
   background-color:#2CF80B;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
   margin-left: 10px;
   cursor: pointer;
   border: none;
   margin-left: 453px;
   
}



@media only screen and (max-width: 753px) {
    .mainsection{
        width: 88%;
    }
    .popupsubsection{
        
        width: 340px;
        height: 550px;
        
    }
    .submainsection{
        padding: 47px 39px;
    }
    .innerpopup{
>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
<<<<<<< HEAD

    .slotlist {
        width: 87vw;
    }

    .slots {
        width: 87px;
    }

    .popupsubmit {
        margin-top: 40px;
        flex-direction: column;

    }

    #cancel {
        margin-left: 10px;
    }

}
=======
    .slotlist{
        width: 87vw;
    }
    .slots{
        width: 87px;
    }
    .popupsubmit{
        margin-top: 40px;
        flex-direction: column;
    
    }
    #cancel{
        margin-left: 10px;
    }
    
}


>>>>>>> 30c6b01901ad9f939a2066f82400eff08b221c54
