doctype html
// Coding By CodingNepal - youtube.com/codingnepal
html(lang='en' dir='ltr')
  head
    //- Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NZ24JXK');
    //- End Google Tag Manager

    meta(charset='utf-8')
    title Lazer Crazer booking section
    link(rel='stylesheet' href='../static/calender components//calender.css')
    link(rel='stylesheet' href='../static/Global_components/global.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    // Google Font Link for Icons
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
    style
      include ../static/style.css
    
    //- LINK TAGS FOR WEBSITE"S FAVICON
    link(rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon_io/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon_io/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon_io/favicon-16x16.png")
    link(rel="manifest" href="../static/img/favicon_io/site.webmanifest")
    link(rel='stylesheet' media='screen and (max-width: 1000px)' href='../static/responsive.css')
    script(src='../static/calender components/calender.js' defer='')
    script(src='../static/Global_components/global.js' defer='')
  body
    //- Google Tag Manager (noscript)
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-NZ24JXK' height='0' width='0' style='display:none;visibility:hidden')
    //- End Google Tag Manager (noscript)
    div#navbar
      div#ul1-wrapper
        ul#ul1
          li #[a(href='/') HOME]
            picture
              source(type="image/webp" srcset="/static/img/home-navigator.webp")
              source(type="image/png" srcset="/static/img/home-navigator.png")
              img#home-navigator(src="../static/img/home-navigator.png" alt="")
          li #[a(href='/event') EVENT]
            picture
              source(type="image/webp" srcset="/static/img/home-navigator.webp")
              source(type="image/png" srcset="/static/img/home-navigator.png")
              img#home-navigator(src="../static/img/home-navigator.png" alt="")
          li #[a(href='/franchise') FRANCHISE]
            picture
              source(type="image/webp" srcset="/static/img/home-navigator.webp")
              source(type="image/png" srcset="/static/img/home-navigator.png")
              img#home-navigator(src="../static/img/home-navigator.png" alt="")
      #nav-logo
        picture
          source(type="image/webp" srcset="/static/img/logo-background.webp")
          source(type="image/png" srcset="/static/img/logo-background.png")
          img#logo-background(src="../static/img/logo-background.png" alt="")
        a(href='/')
          picture
            source(type="image/webp" srcset="/static/img/logo.webp")
            source(type="image/png" srcset="/static/img/logo.png")
            img#main-logo(src="../static/img/logo.png" alt="")
      div#ul2-wrapper
        ul#ul2 
          li #[a(href='/') RENTING]
            picture
              source(type="image/webp" srcset="/static/img/home-navigator.webp")
              source(type="image/png" srcset="/static/img/home-navigator.png")
              img#home-navigator(src="../static/img/home-navigator.png" alt="")
          li #[a(href='/activities') ACTIVITIES]
            picture
              source(type="image/webp" srcset="/static/img/home-navigator.webp")
              source(type="image/png" srcset="/static/img/home-navigator.png")
              img#home-navigator.main(src="../static/img/home-navigator.png" alt="")
          li #[a(href='/calender') BOOKING]
            picture
              source(type="image/webp" srcset="/static/img/home-navigator.webp")
              source(type="image/png" srcset="/static/img/home-navigator.png")
              img#home-navigator(src="../static/img/home-navigator.png" alt="")
      div#nav-planet 
        picture
          source(type="image/webp" srcset="/static/img/nav-planet.webp")
          source(type="image/png" srcset="/static/img/nav-planet.png")
          img(src="../static/img/nav-planet.png" alt="")

    div#mobile-navbar
      div#visible-navbar
        a#mobile-logo(href='/')
          picture
            source(type="image/webp" srcset="/static/img/logo.webp")
            source(type="image/png" srcset="/static/img/logo.png")
            img(src="../static/img/logo.png" alt="")
        div#hamburger-icon
          span.bar
          span.bar
          span.bar
      div#nav-items
        ul 
          li#home #[a(href='/') HOME]
            picture
              source(type="image/webp" srcset="/static/img/home-navigator.webp")
              source(type="image/png" srcset="/static/img/home-navigator.png")
              img#navigator(src="../static/img/home-navigator.png" alt="")
          li #[a(href='/event') EVENT]
            picture
              source(type="image/webp" srcset="/static/img/home-navigator.webp")
              source(type="image/png" srcset="/static/img/home-navigator.png")
              img#navigator(src="../static/img/home-navigator.png" alt="")
          li #[a(href='/franchise') FRANCHISE] 
            picture
              source(type="image/webp" srcset="/static/img/home-navigator.webp")
              source(type="image/png" srcset="/static/img/home-navigator.png")
              img#navigator(src="../static/img/home-navigator.png" alt="")
          li #[a(href='/') RENTING]
            picture
              source(type="image/webp" srcset="/static/img/home-navigator.webp")
              source(type="image/png" srcset="/static/img/home-navigator.png")
              img#navigator(src="../static/img/home-navigator.png" alt="")
          li #[a(href='/activities') ACTIVITIES]
            picture
              source(type="image/webp" srcset="/static/img/home-navigator.webp")
              source(type="image/png" srcset="/static/img/home-navigator.png")
              img#navigator(src="../static/img/home-navigator.png" alt="")
          li #[a(href='/calender') BOOKING]
            picture
              source(type="image/webp" srcset="/static/img/home-navigator.webp")
              source(type="image/png" srcset="/static/img/home-navigator.png")
              img#navigator.main(src="../static/img/home-navigator.png" alt="")
        div#nav-lightining1
          img(src="../static/img/nav-lightining1.png" alt="")
        div#nav-lightining2
            img(src="../static/img/nav-lightining2.png" alt="")
        div#nav-bottom-tower
            img(src="../static/img/nav-bottom-tower.png", alt="")
        div#navM-planet1
          picture
            source(type="image/webp" srcset="/static/img/navM-planet.webp")
            source(type="image/png" srcset="/static/img/navM-planet.png")
            img(src="../static/img/navM-planet.png" alt="")
    div#planet-container
      div#booking-planet
        img(src="../static/img/booking-planet.png" alt="")

    div#booking
      .booking-heading
        h1#green BOOKING
        h2 BOOK YOUR NEXT EVENT WITH US!
      .wholebookingsection
        .booking-bg
          img(src="../static/img/booking-bg.png" alt="")
        .booking-bgM
          img(src="../static/img/booking-bgM.png" alt="")
        .bookingsection
          .mainsection
            .submainsection
              .numbersection
                .textsection
                  | Select Number of People
                .adder
                  .leftadder
                    | -
                  .middlesection
                    | 1
                  .rightadder
                    | +
              .calendersection
                .calendertext
                  | Select Date
                .maincalendercomponent
                  .wrapper
                    header
                      .icons
                        span#prev.material-symbols-rounded chevron_left
                      .dateheading
                        p.current-date
                      .icons
                        //- span#prev.material-symbols-rounded chevron_left
                        span#next.material-symbols-rounded chevron_right
                          
                        //
                          <span id="prev" class="material-symbols-rounded">chevron_left</span>
                          <span id="next" class="material-symbols-rounded">chevron_right</span>
                    .calendar
                      ul.weeks
                        li Sun
                        li Mon
                        li Tue
                        li Wed
                        li Thu
                        li Fri
                        li Sat
                      ul.days
              .bottomsection
                .slotsection
                  .slottext
                    | Select the available Slots
                  .slotlist
                    .slots
                      | 2:30PM
                    .slots
                      | 2:30PM
                    .slots
                      | 2:30PM
                .submitsection
                  .submitsectiontext
                    | CONTINUE
          // calender part start
          //
            <div class="wrapper">
            <header>
            <div class="dateheading">
            <p class="current-date"></p>
            </div>
            <div class="icons">
            <span id="prev" class="material-symbols-rounded">chevron_left</span>
            <span id="next" class="material-symbols-rounded">chevron_right</span>
            </div>
            </header>
            <div class="calendar">
            <ul class="weeks">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
            </ul>
            <ul class="days"></ul>
            </div>
            </div>
          // calender part end
          // booking section ended
    .popupsection
      .popupsubsection
        .innerpopup
          .popuptext
            | Fill The Form To Download Price List
          .popupsubmitsection
            form#contactFormB(action='' method='post')
              .popupsections
                span.details Your Name
                input(type='text' required='' id='name')
              .popupsections
                span.details Mobile No
                input(type='text' required='' id='phone')
              .popupsections
                span.details Package
                select#package(name='Packages')
                  option(value='LASER TAG ON THE GO') LASER TAG ON THE GO
                  option(value='BASIC MOOD') BASIC MOOD
                  option(value='SEMI PRO') SEMI PRO
                  option(value='PRO') PRO
              .popupsections
                span.details Email
                input(type='email' required='' id='email')
          .popupsubmit
            input(type='button' value='Submit' id='sendRequest2')
            // <div class="bookingstatus">Booked Successfully</div>
            #cancel
              | Cancel

    div#contact-sectionB
      div#box-container
        div.contact-content
          img(src="../static/img/booking-loc.png" alt="")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Porttitor mauris scelerisque 
        div.contact-content
          img(src="../static/img/booking-message.png" alt="")
          p Lorem ipsum dolor sit amet,
        div.contact-content
          img(src="../static/img/booking-call.png" alt="")
          p 1234567890 

    footer#footer            
      div#footer-design
        img(src="../static/img/footer-design.png" alt="")
      div#footer-design-right
        img(src="../static/img/footer-design-right.png" alt="")
      div#footer-design2
        img(src="../static/img/footer-design2.png" alt="")
      div#footer-content
        div#brand-section
          div#brand-logo
            img(src="../static/img/footer-logo.png" alt="")
          p DELHI’S LARGEST AND TOP RATED LASER TAG ARENA IN HAUZ KHAS VILLAGE
        div#mid-section
          p Lazer Crazer Laser Tag
          div#pixy Website by 
            a(href='https://pixysquare.com/' target='_blank')  www.pixysquare.com 
              div (click & connect)
          div#social-icons
            a(href='https://www.facebook.com/lazercrazer1' target='_blank')
              img(src="../static/img/fb.png" alt="")
            a(href='https://www.instagram.com/lazercrazer/' target='_blank')
              img(src="../static/img/insta.png" alt="")
            a(href='https://www.youtube.com/@lazercrazer4544' target='_blank')
              img(src="../static/img/youtube.png" alt="")
        div#contact-section
          div#address
            img(src="../static/img/location.png" alt="")
            a(href='https://goo.gl/maps/3E7CiTjJRayBFssh7' target='_blank') 1A Hauz khas village, New delhi, india, 110016
          div#mobile
            img(src="../static/img/phone.png" alt="")
            p +91 8840175266/ 9971385510
          div#mail
            img(src="../static/img/envelope.png" alt="")
            p Contact@lazercrazer.in

    div#copyright
      p Copyright © 2022 Lazer Crazer. All rights reserved / 
        a(href='/privacy') Privacy Policy 

    div#loading
      div#loading-design1
        picture
          source(type="image/webp" srcset="/static/img/loading-design1.webp")
          source(type="image/png" srcset="/static/img/loading-design1.png")
          img(src="../static/img/loading-design1.png" alt="")

      div#loading-planet
        picture
          source(type="image/webp" srcset="/static/img/loading-planet.webp")
          source(type="image/png" srcset="/static/img/loading-planet.png")
          img(src="../static/img/loading-planet.png" alt="")
      div#progressBar
        div#progress
        div#progress-perc 0%

      div#loading-design2
        picture
          source(type="image/webp" srcset="/static/img/loading-design2.webp")
          source(type="image/png" srcset="/static/img/loading-design2.png")
          img(src="../static/img/loading-design2.png" alt="")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js")

    script 
      include ../static/script.js